
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4a4c51;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50vh;
}


.body-text {   
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  position: absolute;
  top: 10%; 
  left: 50%; transform: translateX(-50%);
}
.main-text{
  font-weight: bold; 
  font-size: 24px;
}
.about-container { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  position: absolute;
  left: 50%; transform: translateX(-50%);
  padding: 20px; 
  max-width: 800px; 
  width: 100%; 
  flex-direction: column; 
  margin-top: 45%;
  justify-content: space-around;
} 
h1 { 
  text-align: center; 

} 


.text-box {
 
   padding: 20px; 
   border-radius: 8px; 
  
 
   width: 100%; 
   max-width: 700px; 


  } 
ul { 
   
    padding: 0; 
  } 
ul li { 
    font-weight: bold;
    color: #181717;
    margin: 5px 0; 
    padding: 10px; 
    border-radius: 4px; 

  }
ol{
  padding: 0; 
}
ol li{
  font-weight: bold;
  color: #181717;
  margin: px 0; 
  padding: 3px; 
  border-radius: 7px; 

}
nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

.center-text{  
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  margin-top: 100px; 

}


p {
    color: #080808;
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
}

.cards-container { 
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  margin-top: 120%; 
}
.card-client {
    background: #99aab5;
    width: 13rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #2c2f33;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid#2c2f33;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture svg {
    width: 2.5rem;
    fill: currentColor;
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #2c2f33;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }
  .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-client {
    flex: 1 1 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #2c2f33;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-picture {
    margin-bottom: 10px;
}

.name-client {
    font-weight: bold;
}

.name-client span {
    display: block;
    font-size: 0.9em;
    color: #666;
}

.terminal-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content:center; 
  margin-top: 15%; 
  gap: 20px; 
  
  
}

.terminal {
  width: 500px;
  background-color: #000;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: space-around;
  position: relative;
  transform: none;
}

.terminal-header {
  background-color: #333;
  padding: 5px;
  display: flex;
  align-items: center;
  color: #fff;
}

.buttons {
  display: flex;
  margin-right: 15px;
}

.buttons span {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.close {
  background-color: #ff605c;
}
.minimize {
  background-color: #ffbd44;
}
.maximize {
  background-color: #00ca4e;
}

.title {
  flex-grow: 1;
  text-align: center;
}

.terminal-body {
  padding: 10px;
}

.terminal-loader {
  display: inline-flex;
  align-items: center;
}

.loader-text {
  margin-right: 5px;
}

.dot {
  opacity: 0;
  animation: dotFadeInOut 1.5s infinite;
}

@keyframes dotFadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#dot1 {
  animation-delay: 0.5s;
}

#dot2 {
  animation-delay: 0.6s;
}

#dot3 {
  animation-delay: 0.7s;
}


.description-card-left {
  position: absolute;
  display: flex;
  align-items: center;


  width: 600px;
  height: 500px;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  margin-top: 70%;
  left: 15%;
 
}

.dc-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 34px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background:   #80838a;
  ;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dc-content .dc-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dc-content .dc-para {
  z-index: 1;
  opacity: 0.8;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.description-card-left::before {
  content: "";
  position: absolute;
  height: 1000%;
  width: 1000%;
  border-radius: inherit;
  background:#7289da;
  background: linear-gradient(to right, #7289da, #7289da);
  transform-origin: center;
  animation: moving 4.8s linear infinite paused;
  transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
}

.description-card-left:hover::before {
  animation-play-state: running;
  z-index: -1;
  width: 20%;
}

.description-card-left:hover .dc-content .dc-heading,
.description-card-left:hover .dc-content .dc-para {
  color: #000000;
}

.description-card-left:hover {
  box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1),
    0rem 24px 24px rgba(10, 60, 255, 0.09),
    0rem 55px 33px rgba(10, 60, 255, 0.05),
    0rem 97px 39px rgba(10, 60, 255, 0.01), 0rem 152px 43px rgba(10, 60, 255, 0);
  scale: 1.05;
  color: #000000;
}

@keyframes moving {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.description-card-right {
  position: absolute;
  display: flex;
  align-items: center;


  width: 600px;
  height: 500px;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  margin-top: 130%;
 right: 20%;
 
}

.dcr-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 34px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #80838a;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dcr-content .dcr-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dcr-content .dcr-para {
  z-index: 1;
  opacity: 0.8;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.description-card-right::before {
  content: "";
  position: absolute;
  height: 1000%;
  width: 1000%;
  border-radius: inherit;
  background: #7289da;
  background: linear-gradient(to right, #7289da, #7289da);
  transform-origin: center;
  animation: moving 4.8s linear infinite paused;
  transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
}

.description-card-right:hover::before {
  animation-play-state: running;
  z-index: -1;
  width: 20%;
}

.description-card-right:hover .dcr-content .dcr-heading,
.description-card-right:hover .dcr-content .dcr-para {
  color: #000000;
}

.description-card-right:hover {
  box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1),
    0rem 24px 24px rgba(10, 60, 255, 0.09),
    0rem 55px 33px rgba(10, 60, 255, 0.05),
    0rem 97px 39px rgba(10, 60, 255, 0.01), 0rem 140px 43px rgba(10, 60, 255, 0);
  scale: 1.05;
  color: #000000;
}

@keyframes moving {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.button {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px; 
  background-color: #202225;
  border: 4px solid #1e2124; 
  color: white;
  gap: 4px; 
  border-radius: 25px; 
  cursor: pointer;
  transition: all 0.3s;
  position: absolute; 
 top: 230%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  font-size: 1.2em; 
  font-weight: 700;
  letter-spacing: 1px;
}
.svg {
  padding-top: 5px;
  height: 100%;
  width: fit-content;
}
.svg svg {
  width: 30px;
  height: 20px; 
}
.button:hover {
  border: 4px solid #202225; 
  background-color:#2f3136;
}
.button:active {
  border: 3px solid #202225; 
}
.button:hover .svg svg {
  animation: jello-vertical 0.9s both;
  transform-origin: left;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.menu-buttons-container {
  display: flex;
  background-color: #1e2124;
  width: 350px;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  position: absolute;
  top: 1%; 
  left: 50%; transform: translateX(-50%);
}

.menu-button {
  outline: 0 !important;
  border: 0 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
 
}

.menu-button:hover {
  transform: translateY(-3px);
  
}

.menu-button-icon {
  font-size: 25px;
}

img.right{
  width: 600px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top: 92%;
  right: 10%;
  transform: translate(-50%, -50%);
}

img.left{
  width: 600px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top: 150%;
  left: 28%;
  transform: translate(-50%, -50%);
}

img.left-bottom{
  width: 600px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top: 200%;
  left: 28%;
  transform: translate(-50%, -50%);
}
img.right-bottom{
  width: 600px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top:200%;
  right: 7%;
  transform: translate(-50%, -50%);
}

.dashboard-card-first-left {
  position: absolute;
  display: flex;
  align-items: center;


  width: 700px;
  height: 700px;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  margin-top: 20%;
 left: 10%;
 
}

.ds-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 34px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #80838a;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.ds-content .ds-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;

}


img.right-first-top{
  width: 1100px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top:20%;
  right: 6%;

}

.dashboard-card-second-right {
  position: absolute;
  display: flex;
  align-items: center;


  width: 600px;
  height: 600px;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  margin-top: 97%;
 right: 15%;
 
}

.dss-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 34px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #80838a;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dss-content .dss-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dss-content .dss-para {
  z-index: 1;
  opacity: 0.8;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

img.left-first-middle{
  width: 400px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top:110%;
  left: 37%;

}
img.right-second-middle{
  width: 600px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top:90%;
  left: 6%;

}

.dashboard-card-second-left {
  position: absolute;
  display: flex;
  align-items: center;


  width: 2000px;
  height: 1700px;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  margin-top: 220%;
  right: 10%;

 
}

.dss-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 34px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #80838a;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.dss-content .dss-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;

}

video{
  position: absolute;
  display: flex;
  align-items: center;


  

  margin-top: 200%;
 right: 7%;

}